.start {
  background-color: #f9f9f9;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #808080;
}

.start img {
  margin-bottom: 25px;
}

.start p {
  margin-bottom: 10px;
}
